@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --purple: #233a95;
  --logo: rgb(66, 66, 66);
  --dark-grey-label: rgba(0, 0, 0, 0.5);
  --dark-grey-name: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", serif !important;
  font-size: 14px !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* #TopStrip */
.bg {
  background: var(--purple);
}

.headerWrapper .top-strip {
  width: 100%;
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* #Header */
.headerWrapper {
  align-items: center;
}
.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

/* #Logo */
.logoWrapper img {
  width: 100%;
}

/* #CountryDrop */
.headerWrapper .header .part2 #countryDrop {
  height: 48px;
  min-width: 170px;
  text-align: left;
  justify-content: space-between;
  padding: 0 15px;
  color: var(--dark-grey-label);
  border: 1px solid lightgray;
  border-radius: 7px;
}

.headerWrapper .header .part2 #countryDrop .label {
  font-size: 10px;
  color: var(--dark-grey-label);
  text-transform: capitalize;
  line-height: 16px;
}

.headerWrapper .header .part2 #countryDrop .name {
  font-size: 12px;
  color: var(--purple);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 16px;
}

.headerWrapper .header .part2 #countryDrop .namesvg {
  opacity: 0.1;
}

/* dropdownDailog for country */

.locationModal .MuiPaper-elevation {
  position: relative;
}

.close_ {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close_ Button {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: transparent;
}

.close_ Button svg {
  font-size: 22px;
  color: var(--dark-grey-name);
}

.countryList ul {
  padding: 0;
}

.countryList li Button {
  list-style: none;
  color: var(--dark-grey-name);
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}

.countryList li Button:hover {
  background-color: #f1f1f1;
}

.countryList li Button.active {
  background-color: #2bbef9;
  color: white;
}

.countryList li Button.active .listButton {
  background-color: #2bbef9;
  color: white;
  border: 1px solid white;
}

.countryList li .listButton {
  font-size: 12px;
  min-width: 80px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  padding: 2px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

/* Searchbar */
.searchBarWrapper {
  width: 50%;
}
.headerSearch {
  height: 50px;
  width: 100%;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border: solid 1px --purple;
  border-radius: 10px;
}

.headerSearch input {
  background: transparent;
  outline: none;
  font-size: 16px;
  color: var(--dark-grey-name);
  width: 100%;
  margin-right: 20px;
  height: 30px;
  border: none;
  padding: 0px 20px;
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px;
  height: 30px;
  /* width: 100%; */
  border-radius: 50%;
  color: var(--dark-grey-name);
}

.headerSearch ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.headerSearch svg {
  font-size: 22px;
}

/* usericon */
.header .part-3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
}

.header .part-3 .circle {
  font-size: 22px;
}

.header .part-3 .cart {
  background-color: #fff1ee;
  color: #ea2b0f;
}

.header .part-3 .cartTab .price {
  font-size: 18px;
  color: var(--dark-grey-name);
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

.cartTab .count {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -4px;
  background-color: #ea2b0f;
  border-radius: 50%;
  color: white;
}

/* navbar */

.navigation {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav .catWrapper {
  position: relative;
}

nav .sidebarNav ul li a:hover {
  background: transparent;
  color: #2bbef9;
}

nav .catWrapper .sidebarNav {
  z-index: 100;
  min-width: 230px;
  background: white;
  position: absolute;
  top: 100%;
  left: 0px;
  margin-top: 18px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

nav .catWrapper:hover .sidebarNav {
  opacity: 1;
  visibility: inherit;
}

nav .catWrapper .sidebarNav ul li {
  position: static;
}

nav .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: -20px;
  left: 100%;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 100;
  border-radius: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav .catWrapper .sidebarNav li {
  width: 100%;
  margin-top: 20px;
}

nav .catWrapper .sidebarNav li a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}

nav .catWrapper .sidebarNav ul {
  padding: 0px;
}

.allCatTab Button.allCat {
  width: 60%;
  background-color: #2bbef9;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

nav ul {
  width: 100%;
}

nav ul li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 15px;
}

nav ul li a {
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
}

nav ul li a svg {
  font-size: 22px;
}

.navTab ul li a:hover {
  background-color: #f0faff;
  color: #2bbef9;
}

nav ul li {
  position: relative;
  font-family: "Dosis", sans-serif;
}

nav ul li .submenu {
  z-index: 100;
  position: absolute;
  margin-top: 20px;
  top: 100%;
  left: 0px;
  min-width: 200px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  font-family: "Lato", serif;
}

nav ul li .submenu a {
  display: block;
  width: 100%;
  border-radius: 0px !important;
  text-transform: capitalize;
  font-weight: 600;
}

nav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
}

nav ul li:hover .submenu a {
  background-color: white;
}
