@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-sml {
  font-size: 14px;
}

.sidebar {
  /* height: 100vh; */
}

.homeBannerSection .box {
  position: relative;
}
.homeBannerSection .box .content {
  position: absolute;
  top: 80px;
  left: 150px;
  color: rgba(0, 0, 0, 0.8);
}

.homeBannerSection .box .content .top {
  font-family: "Dosis", sans-serif;
}

.homeBannerSection .box .content .top p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.homeBannerSection .box .content .top span {
  background-color: #77ffa956;
  color: #038e42;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
}

.homeBannerSection .box .content .heading h1 {
  font-size: 50px;
  font-weight: 800;
  max-width: 450px;
}

.homeBannerSection .box .content .subheading p {
  font-size: 20px;
  font-weight: 400;
}

.homeBannerSection .box .content .price span {
  color: #d51243;
  font-size: 40px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

.homeBannerSection .box .content button {
  background-color: #2bbef9;
  color: white;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: 600;
}
.homeBannerSection .box .content button svg {
  font-size: 25px;
}

.homeBannerSection .slick-arrow {
  z-index: 100;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: 800;
}
.homeBannerSection .sliderButton {
  z-index: 100;
  border-radius: 50px;
  position: absolute;
  padding: 30px 0px;
  top: 50%;
  font-size: 25px;
  height: 20px;
  width: 20px;
  background-color: white;
  visibility: hidden;
}
.homeBannerSection .left {
  left: 20px;
}
.homeBannerSection .right {
  right: 20px;
}
.homeBannerSection .slick-next {
  right: 25px;
  visibility: initial;
}
.homeBannerSection .slick-prev {
  left: 25px;
}
/* .homeBannerSection .slick-next::before {
  font-family: FontAwesome;
  color: #fff;
}
.homeBannerSection .slick-prev::before {
  font-family: FontAwesome;
  color: #fff;
} */
/* left side */
.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.homeProducts .banner .content {
  position: absolute;
  top: 35px;
  left: 35px;
}

.homeProducts .banner .content .top p {
  color: white;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.homeProducts .banner .content .heading h1 {
  font-size: 28px;
  margin-bottom: 0px;
  font-weight: 300;
}
.homeProducts .banner .content .heading {
  margin-bottom: 1rem;
}

.homeProducts .banner .content .subheading p {
  margin-bottom: 0px;
}

.homeProducts .banner .content .price span {
  font-family: "dosis", sans-serif;
  font-weight: 600;
  color: #d51243;
  font-size: 30px;
}

.productRow {
  padding: 1px;
}
.productRow .hd {
  font-weight: 600;
  font-family: "dosis", sans-serif;
  font-size: 25px;
}

.viewAllBtn {
  padding: 3px 15px !important;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.viewAllBtn svg {
  font-size: 25px;
}

/* product item styling */

.item {
  border: 1px solid rgba(85, 85, 85, 0.1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.item .actions {
  position: absolute;
  top: 20px;
  right: -100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  opacity: hidden;
}

.item .actions button {
  min-width: 40px;
  height: 40px;
  border: 1px solid rgba(83, 83, 83, 0.1);
  border-radius: 50%;
  background-color: white;
  transition: all 0.5s;
}

.item .actions button svg {
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  font-size: 15px;
}

.item .actions button:hover {
  background-color: #233a95;
}

.item .actions button:hover svg {
  color: white;
}

.item:hover .actions {
  opacity: 1;
  right: 10px;
}

.item .imgWrapper:hover img {
  transform: scale(1.1);
}

.item .discount {
  position: absolute;
  top: 1.125rem;
  left: 1.125rem;
  background-color: #2bbef9;
  padding: 0.25rem 0.725rem;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}

.item .description {
  padding: 10px 20px;
}

.item .imgWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
}

.item .imgWrapper img {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  padding-top: 20px;
}

.item .description .title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.item .inStock {
  color: #00b853;
  font-size: 12px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

.item .description .price {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.item .description .oldPrice {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
  font-size: 16px;
}

.item .description .newPrice {
  color: #d51243;
  font-size: 20px;
}

/* new products section */

.productRow2 {
  flex-wrap: wrap;
  gap: 20px 10px;
}

.newProductItem {
  width: 24%;
}

/* take care banner */

.careBanner {
  background-color: #f8efea;
  border-radius: 8px;
}

.careBanner .headings {
  padding-left: 2.5rem;
  height: auto;
}

.careBanner .headings h6 {
  font-size: 14px;
  color: #8b8b8b;
}

.careBanner .headings h3 {
  font-size: 18px;
  font-weight: 700;
  color: #737373;
  margin-bottom: 0px;
}

.careBanner .imgWrapper {
  overflow-clip-margin: content-box;
}

.careBanner .imgWrapper img {
  object-fit: cover;
}
