@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-bold {
  font-weight: 700;
}

.text-sml {
  font-size: 14px;
}

.homeBannerSection .box {
  position: relative;
}
.homeBannerSection .box .content {
  position: absolute;
  top: 80px;
  left: 150px;
  color: rgba(0, 0, 0, 0.8);
}

.homeBannerSection .box .content .top {
  font-family: "Dosis", sans-serif;
}

.homeBannerSection .box .content .top p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.homeBannerSection .box .content .top span {
  background-color: #77ffa956;
  color: #038e42;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
}

.homeBannerSection .box .content .heading h1 {
  font-size: 50px;
  font-weight: 800;
  max-width: 450px;
}

.homeBannerSection .box .content .subheading p {
  font-size: 20px;
  font-weight: 400;
}

.homeBannerSection .box .content .price span {
  color: #d51243;
  font-size: 40px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

.homeBannerSection .box .content button {
  background-color: #2bbef9;
  color: white;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: 600;
}
.homeBannerSection .box .content button svg {
  font-size: 25px;
}

.homeBannerSection .slick-arrow {
  z-index: 100;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: 800;
}
.homeBannerSection .sliderButton {
  z-index: 100;
  border-radius: 50px;
  position: absolute;
  padding: 30px 0px;
  top: 50%;
  font-size: 25px;
  height: 20px;
  width: 20px;
  background-color: white;
  visibility: hidden;
}
.homeBannerSection .left {
  left: 20px;
}
.homeBannerSection .right {
  right: 20px;
}
.homeBannerSection .slick-next {
  right: 25px;
  visibility: initial;
}
.homeBannerSection .slick-prev {
  left: 25px;
}
/* .homeBannerSection .slick-next::before {
  font-family: FontAwesome;
  color: #fff;
}
.homeBannerSection .slick-prev::before {
  font-family: FontAwesome;
  color: #fff;
} */
/* left side */
.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.homeProducts .banner .content {
  position: absolute;
  top: 35px;
  left: 35px;
}

.homeProducts .banner .content .top p {
  color: white;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.homeProducts .banner .content .heading h1 {
  font-size: 30px;
  margin-bottom: 0px;
}
.homeProducts .banner .content .heading {
  margin-bottom: 1rem;
}

.homeProducts .banner .content .subheading p {
  margin-bottom: 0px;
}

.homeProducts .banner .content .price span {
  font-family: "dosis", sans-serif;
  font-weight: 600;
  color: #d51243;
  font-size: 30px;
}

.productRow .hd {
  font-weight: 600;
  font-family: "dosis", sans-serif;
  font-size: 25px;
}

.viewAllBtn {
  padding: 3px 15px !important;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50px !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.viewAllBtn svg {
  font-size: 25px;
}
